{% extends 'base.html' %}
<h1> Chart list </h1>

<ul class="list-group">
    <li class="list-group-item">1chart.in</li>
    <li class="list-group-item">1chart.in</li>
    <li class="list-group-item">1chart.in</li>
    <li class="list-group-item">1chart.in</li>
    <li class="list-group-item">1chart.in</li>
    <li class="list-group-item">1chart.in</li>
    <li class="list-group-item">1chart.in</li>
    <li class="list-group-item">1chart.in</li>
    <li class="list-group-item">1chart.in</li>
    <li class="list-group-item">1chart.in</li>
    <li class="list-group-item">1chart.in</li>


</ul>